$color-sell-indicator: #FF0101;
$color-buy-indicator: #008000;
$color-header: #5C5C5D;
$color-white: #FFFFFF;

$color-border-selected: #4BACC6;
$color-border: #DDE1E2;
$color-sell-font: #C9131A;
$color-buy-font: #68892E;

.vth-currency-exchange-teaser {

  background-color: #F0F0F1;
  min-width: 316px;


  .vth-currency-exchange-teaser__header {
    background-color: $color-header;
    color: $color-white;
    text-align: center;
    padding: 3px 0;
  }
  .vth-currency-exchange-teaser__body {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 3px 10px 35px 10px;

    .vth-currency-exchange-teaser__body__data {
      display: flex;
      flex-direction: row;

      color: $color-sell-font;
      cursor: pointer;
      background-color: $color-white;
      width: 100%;

      &--buy {
        color: $color-buy-font;
        .vth-currency-exchange-teaser__body__data__wrapper {
          border-right: 2px solid $color-border;
          border-top: 2px solid $color-border;
          border-bottom: 2px solid $color-border;
        }
        .vth-currency-exchange-teaser__body__data__wrapper {
          text-align: right;
        }

        &:hover {
          .vth-currency-exchange-teaser__body__data__wrapper {
            border-right: 2px solid $color-border-selected;
            border-top: 2px solid $color-border-selected;
            border-bottom: 2px solid $color-border-selected;
            background-color: $color-buy-indicator;
            color: $color-white;
          }

          .vth-currency-exchange-teaser__body__arrow {
            .vth-currency-exchange-teaser__body__arrow__inner {
              border-bottom: 2px solid $color-border-selected;
              border-left: 2px solid $color-border-selected;
              background-color: $color-buy-indicator;
              color: $color-white;
            }
          }
        }
      }

      &--sell {
        color: $color-sell-font;
        .vth-currency-exchange-teaser__body__data__wrapper {
          border-left: 2px solid $color-border;
          border-top: 2px solid $color-border;
          border-bottom: 2px solid $color-border;
        }

        &:hover {
          .vth-currency-exchange-teaser__body__data__wrapper {
            border-left: 2px solid $color-border-selected;
            border-top: 2px solid $color-border-selected;
            border-bottom: 2px solid $color-border-selected;
            background-color: $color-sell-indicator;
            color: $color-white;
          }

          .vth-currency-exchange-teaser__body__arrow {
            .vth-currency-exchange-teaser__body__arrow__inner {

              border-top: 2px solid $color-border-selected;
              border-right: 2px solid $color-border-selected;
              background-color: $color-sell-indicator;
              color: $color-white;
            }
          }

        }
      }

      .vth-currency-exchange-teaser__body__arrow {
        display: flex;
        justify-items: center;
        align-items: center;
        position: relative;;

        &--right {
          .vth-currency-exchange-teaser__body__arrow__inner{
            border-top-right-radius: 10px;
            border-top-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-top: 2px solid $color-border;
            border-right: 2px solid $color-border;
          }
        }

        &--left {
          .vth-currency-exchange-teaser__body__arrow__inner {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom: 2px solid $color-border;
            border-left: 2px solid $color-border;
          }
        }

        .vth-currency-exchange-teaser__body__arrow__inner {
          // TODO arrow
          border-style: solid;
          width: 40px;
          height: 40px;
          transform: rotate(45deg);
          z-index: 1;
          background-color: white;
          left: -21px;
          position: absolute;
        }
      }

      .vth-currency-exchange-teaser__body__data__wrapper {
        display: flex;
        flex-direction: column;
        padding: 3px 13px 3px 3px;
        width: 100%;
        z-index: 2;

        .vth-currency-exchange-teaser__body__data__wrapper__label {
          padding-bottom: 5px;
          font-size: .7em;
          font-weight: bold;
        }
        .vth-currency-exchange-teaser__body__data__wrapper__value {
          position: relative;
          span:last-child {
            position: absolute;
            font-size: 1em;
          }

          span:nth-last-child(2) {
            font-size: 2em;
          }
          span:nth-last-child(3) {
            font-size: 2em;
          }
        }
      }

    }

    .vth-currency-exchange-teaser__body__indicator {
      margin: 0 30px;
      width: 0;
      height: 0;
      border-style: solid;

      &--positive {
        border-width: 0 4px 16px 4px;
        border-color: transparent transparent $color-buy-indicator transparent;
      }
      &--negative {
        border-color: $color-sell-indicator transparent transparent transparent;
        border-width: 16px 4px 0 4px;
      }
    }
  }

}
